<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <footer th:fragment="footer">
        <div class="wrapper cf">
        <footer>

            <!-- twitter -->
            <div id="twitter-holder">
                <div class="ribbon-left"></div>
                <div class="ribbon">
                    <div id="tweets-bar" class="tweet"></div>
                </div>
                <div class="ribbon-right"></div>
            </div>
            <!-- ENDS twitter -->


            <!-- widgets -->
            <ul class="widget-cols cf">
                <li class="first-col">

                    <div class="widget-block">
                        <h4>RECENT POSTS</h4>
                        <div class="recent-post cf">
                            <a href="#" class="thumb"><img src="img/dummies/54x54b.gif" alt="Post" /></a>
                            <div class="post-head">
                                <a href="#">Suancaiyu1806</a><span>December 22, 2000</span>
                            </div>
                        </div>
                        <div class="recent-post cf">
                            <a href="#" class="thumb"><img src="img/dummies/54x54c.gif" alt="Post" /></a>
                            <div class="post-head">
                                <a href="#">Zhao Haoyang</a><span> March 12, 2000</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="second-col">

                    <div class="widget-block">
                        <h4>ABOUT</h4>
                        <p>Vintage Template it's completely free this means you don't have to pay anything.</p>

                        <p>Placeholder images by Dan Matutina</p>
                        <p>Visit Template Creme and find the most beautiful free templates up to date.</p>
                    </div>

                </li>

                <li class="third-col">

                    <div class="widget-block">
                        <h4>DUMMY TEXT</h4>
                        <p>Give you the chance lightly to bear my joys and sorrows. et netus et malesuada fames ac
                            turpis egestas.
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                            libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                            leo. </p>
                    </div>

                </li>

                <li class="fourth-col">

                    <div class="widget-block">
                        <h4>CATEGORIES</h4>
                        <ul>
                            <li class="cat-item"><a href="#">Design</a></li>
                            <li class="cat-item"><a href="#">Photo</a></li>
                            <li class="cat-item"><a href="#">Art</a></li>
                            <li class="cat-item"><a href="#">Game</a></li>
                            <li class="cat-item"><a href="#">Film</a></li>
                            <li class="cat-item"><a href="#">TV</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
            <!-- ENDS widgets -->

            <!-- bottom -->
            <div id="bottom">
                <div id="widget-trigger-holder">
                    <a id="widget-trigger" href="#" title="View More" class="poshytip"></a>
                </div>
                <div id="content">&copy; Copyright &copy; 2020.CSU.</div>
            </div>
            <!-- ENDS bottom -->

        </footer>


        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js}"></script>
        <script>window.jQuery || document.write('<script type="text/javascript" src="js/jquery-1.7.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="js/custom.js" th:src="@{js/custom.js}"></script>
        <script type="text/javascript" src="js/superfish-1.4.8/js/hoverIntent.js" th:src="@{js/superfish-1.4.8/js/hoverIntent.js}"></script>
        <script type="text/javascript" src="js/superfish-1.4.8/js/superfish.js" th:src="@{js/superfish-1.4.8/js/superfish.js}"></script>
        <script type="text/javascript" src="js/superfish-1.4.8/js/supersubs.js" th:src="@{js/superfish-1.4.8/js/supersubs.js}"></script>
        <script type="text/javascript" src="js/tweet/jquery.tweet.js" th:src="@{js/tweet/jquery.tweet.js}"></script>
        <script type="text/javascript" src="js/jquery.isotope.min.js" th:src="@{js/jquery.isotope.min.js}"></script>
        <script type="text/javascript" src="js/jquery.nivo.slider.js" th:src="@{js/jquery.nivo.slider.js}"></script>
        <script type="text/javascript" src="js/css3-mediaqueries.js" th:src="@{js/css3-mediaqueries.js}"></script>
        <script type="text/javascript" src="js/tabs.js" th:src="@{js/tabs.js}"></script>
        <script type="text/javascript" src="js/poshytip-1.1/src/jquery.poshytip.min.js" th:src="@{js/poshytip-1.1/src/jquery.poshytip.min.js}"></script>
        <script type="text/javascript" src="js/moveform.js" th:src="@{js/moveform.js}"></script>
        <script type="text/javascript" src="js/modernizr-2.5.3.min.js" th:src="@{js/modernizr-2.5.3.min.js}"></script>
    </footer>
</body>
</html>