
.logo{
    height: 5.4vw;
}
.logo-content{
    padding-top: 0.8vw;
}
.simple-text{
    font-size: 10vw;

}
.logo img{
    float: left;
    padding-left: 4vw;
    height: 4vw;
}
.video-container{
    padding-top: 4vw;
    padding-left: 2vw;
}
.btn{
    height: 30px;
    width: 70px;
    margin: 0;
    padding: 0;
}
.btn.btn-error{
    background-color: #e22018;
    color: #fff;
    border: #e22018;
    height: 30px;
    width: 70px;
    margin: 0;
    padding: 0;
}
.right{
    text-align: right;
}
.input-inline{
    padding-left: 2vw;
}
.numberinput{
    width: 45px;
    height: 25px;
}
.addbtn{
    width: 35px;
    height: 25px;
    background-color:  #e77b2d;
    border-color:  #999999;
    border-radius: 2px;
    color: #fff;
    margin: 0;
    padding: 0;
}
#register-card{
    margin-left: 10vw;
}
#login-card{
    /* margin-left: 30vw; */
}
#videos{
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
#only-card{
    margin-right: 8vw;
}
#humiture-container{
    padding-left: 5vw;
}
#monitoring-video{
    padding-left: 7vw;
}
#notice-content{
    margin-left: 2vw;
    margin-right: 2vw;
}
#search{
    height: 30px;
    width: 60px;
    padding: 0;
    margin: 0;
    background-color: #e77b2d;
    border-color: #e77b2d;
    color: #fff;
}
#registerlink{
    padding-left: 12px;
}