<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/header"></div>
<div class="wrapper cf">

    <div>
        <div id="center-container">
            <h2 class="heading"> Login</h2>
        </div>

        <form  th:action="@{/login/signin}"  method="post" id="commentform">

        <p class="comment-form-author"><label for="username">Username<span class="required">*</span></label>

            <input id="username" type="text" name="username" size="30"/>
        </p>
        <p class="comment-form-email"><label for="password">Password<span class="required">*</span></label>
            <input id="password" type="password" name="password" size="30"/>
        </p>


        <p><span th:text="${msg}"></span></p>
        <div id="center-container">
            <p class="form-submit">
                <input type="submit" name="signon" value="Login" id="submit" />
                <input type="hidden" name="comment_post_ID" value="34" id="comment_post_ID" />
                <input type="hidden" name="comment_parent" id="comment_parent" value="0" />
            </p>
        </div>
        </form>
        <div id="center-container">
            <a href="newAccount"><span><h4>Register Now!</h4></span></a>
            <br/>
        </div>

    </div>
</div>
<div th:replace="common/footer"></div>
</body>

</html>